<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">

</head>

<body>
    <h2 class="heading center">User Management</h2>
    <div class="container">

        <button onclick="openModelUser()"><i class="lni lni-circle-plus"></i> <span>Add New</span></button>
        
        <div class="Model-box" id="Model-box" style="display: none;">
            <form action="/blacklisted" method="post">
                <label for="email">Email of User</label><br>
                <input type="email" name="black-email" id="b-email">
                
                <br><br>
                <label for="email">Reason for Blacklisting</label><br>
                <input type="text" name="black-reason" id="b-reason"><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        
    </div>
        <script>
    function openModelUser(){
        document.getElementById('Model-box').style.display= 'block';

    }
</script>
</body>

</html>